<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroBuild.Core" version="0.2.0" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.Azure.Amqp" version="1.1.5" targetFramework="net46" />
  <package id="Microsoft.Azure.Devices" version="1.0.12" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.24.304111323" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ConnectedServices" version="2.0.0" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Services.Client" version="14.95.3" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Services.InteractiveClient" version="14.95.3" targetFramework="net46" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net46" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net46" />
  <package id="NuGet.VisualStudio" version="3.3.0" targetFramework="net46" />
  <package id="PCLCrypto" version="1.0.86" targetFramework="net46" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net46" />
  <package id="Validation" version="2.0.6.15003" targetFramework="net46" />
  <package id="WindowsAzure.ServiceBus" version="3.1.7" targetFramework="net46" />
</packages>